.movieResults {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: auto;
    font-family: Quicksand, IBM Plex Sans, sans-serif;
    margin-top: 1.5rem;
    width: 100%;
}

/* .resultSection {
    text-align: left;
} */

span {
    margin: 0.5rem 0;
}

.searchResultVal {
    color: #699afc;
}

.searchList {
    background-color: #222734;
    padding: 0.2rem 1.2rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: rgb(56, 54, 54) solid;
}

.searchMovieItem {
    display: flex;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration 0.3s;
}
/*
.searchMovieItem:after {
    content: "";
    height: 1.5px;
    display: flex;
    position: absolute;
    background:rgb(190, 186, 240);
    bottom: 0;
    width: 0;
    display: block;
    transition: width 0.3s ease 0s, right 0.3s;
}*/

.searchMovieItem:hover {
    cursor: pointer;
    text-decoration: underline rgb(190, 186, 240);
}

/* .searchMovieTitle {
    font-family: IBM Plex Sans, 'Segoe UI';
} */

.searchMovieYear {
    font-style: italic;
}

.selectedMovie {
    position: fixed;
    top: 0;
    left: 0;
    background: #41414154;
    width: 100%;
    height: 100%;
}

.movieItem {
    position: relative;
    width: 70%;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 10vh auto;
    border-radius: 10px;
    overflow: overlay;
    padding: 1rem;
    background: rgb(190, 186, 240);
    box-shadow: -4px 4px 4px rgb(132, 112, 155);
    color: black;
}

.close {
    cursor: pointer;
    color: white;
    position: fixed;
    margin: 10vh auto;
    background: #555ac2;
    content: 'x';
    top: calc(-2vh);
    right: calc(15% - 30px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align:center;
}

.close:hover {
    box-shadow: rgb(161, 153, 231) 0 0 4px 4px;
}

.movieDetail{
    display: inherit;
    flex-direction: column;
    margin: 0 1rem;
    font-size: 0.8rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: IBM Plex Sans, 'Segoe UI';
}

.released {
    font-style: italic;
    font-family: IBM Plex Sans, 'Segoe UI';
}

.runtime {
    font-style: italic;
}

p {
    margin: 0.1rem 0;
}
 
.genre{
    color: #000000;
    font-family: IBM Plex Sans, 'Segoe UI';
    font-style: italic;
}

.director {
    margin: 0.6rem 0;
}

.plot {
    margin: 2rem 0;
    font-family: IBM Plex Sans, 'Segoe UI';
    font-size: 0.9rem;
}

