.movieResults {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: auto;
    font-family: Quicksand, IBM Plex Sans, sans-serif;
    width: 100%;
}

.resultSection {
    font-family: Quicksand, IBM Plex Sans, 'Segoe UI';
    margin-top: 1.5rem;
    width: 90%;
}

span {
    margin: 0.5rem 0;
}

.searchResultVal {
    color: #699afc;
}

.searchList {
    background-color: #222734;
    padding: 0.2rem 1.2rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: rgb(56, 54, 54) solid;
}

.searchMovieItem {
    display: flex;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration 0.3s;
}
/*
.searchMovieItem:after {
    content: "";
    height: 1.5px;
    display: flex;
    position: absolute;
    background:rgb(190, 186, 240);
    bottom: 0;
    width: 0;
    display: block;
    transition: width 0.3s ease 0s, right 0.3s;
}*/

.searchMovieItem:hover {
    cursor: pointer;
    text-decoration: underline rgb(190, 186, 240);
}

/* .searchMovieTitle {
    font-family: IBM Plex Sans, 'Segoe UI';
} */

.searchMovieYear {
    font-style: italic;
}

.selectedMovie {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #41414154;
    padding: 5% 15%;
    display: flex;
    align-items: center;
}

.pageBar {
    display: flex;
    margin: 1rem auto;
    flex-direction: row;
    font-size: 0.8rem;
    overflow: auto;
    color: #669afc;
    padding: 0.6rem;
}

.pageOption {
    margin: 0 auto;
    padding: 0.1rem 0.4rem;
    border: transparent solid;
    border-radius: 5px;
}

.pageOption.active {
    background-color: #181818;
    font-weight: bold;
    /* border: #669afc solid 1.2px; */
}

.pageOption:hover {
    cursor: pointer;
    border: rgb(56,54,54) solid 1px;
    background-color: rgb(56 54 54);
    text-decoration: underline #669afc;
}

.movieItem {
    position: relative;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: overlay;
    padding: 1rem;
    background: rgb(190, 186, 240);
    box-shadow: -4px 4px 4px rgb(132, 112, 155);
    color: black;
}

.closeMovie {
    display: inherit;
    justify-content: flex-end;
}

.close {
    color: white;
    cursor: pointer;
    margin: -0.3rem;
    background: #555ac2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.close:hover {
    box-shadow: rgb(161, 153, 231) 0 0 4px 4px;
    transform: scale(1.2);
}

.moviePosterDetail {
    display: inherit;
    flex-direction: row;
    margin-top: -0.9rem;
}

.movieDetail{
    display: inherit;
    flex-direction: column;
    margin: 0 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: IBM Plex Sans, 'Segoe UI';
}

.released {
    font-style: italic;
    font-family: IBM Plex Sans, 'Segoe UI';
}

.runtime {
    font-style: italic;
}

.runtime:hover, .released:hover, .director:hover, .genre:hover, .plot:hover {
    color: #ffedb4;
    text-shadow: 0 0 2px 1px rgb(143, 140, 140);
}

img {
    max-height: 60vmin;
}

p {
    margin: 0.1rem 0;
    font-family: IBM Plex Sans, 'Segoe UI';
    font-size: 0.85rem;
    width: fit-content;
}
 
.genre{
    color: #cacaca;
    font-family: IBM Plex Sans, 'Segoe UI';
    background: #727272ea;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5rem 0;
}

.director {
    margin: 0.5rem 0;
}

.plot {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.released, .runtime, .director {
    text-indent: 3px;
}

