.searchMovies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    background-color: rgb(56, 62, 85);
    color: #c7d9f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchTitle {
    color: #aec9ec;
    margin: 1rem;
    margin-top: 2.5rem;
    font-family: IBM Plex Sans, Questrial, 'Segoe UI';
    font-size: 1.1rem;
}

.searchBar {
    /* width: 60vw; */
    background-color: #1c1f2ac2;
    border-radius: 0.8rem;
}

.searchBar:focus-within 
{
    border: #555AC2 solid 1.5px;
}

.searchInput {
    width: 65vw;
}

.searchInput, .searchIcon {
    padding: 0.7rem;
    color: white;
    background: transparent;
    font-family: Lato, 'Segoe UI';
    font-size: 1rem;
    border: #555AC2 solid 1.5px;
    border: none;
    border-radius: inherit;
}

.searchIcon:hover {
    cursor: pointer;
}

.searchInput:focus {
    outline: none;
}


/* input:-webkit-autofill, input:autofill,
input:-webkit-autofill-selected,
input:active, 
input:focus  
{
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
} */

::placeholder {
    color: #90B1F1;
    opacity: 100%;
}

.searchBar:hover {
    border: #8164ff solid 1.5px;
    box-shadow: lightslategrey 0 0 10px 5px;
}

.searchLabel {
    margin-right: 0.5rem;
    font-family: 'Lato';
}